body, *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

.home{
    height: 60rem;
}
nav{
    width: 100%;
    position: fixed;
    /* absolute doesnt work for ts because the other element didnt include/aware of 
    the nav bar, however, position: fixed positions an element relative to the browser window,
    keeping it in the same place even as the user scrolls. */
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    justify-content: space-between;
    padding: 10px;
    transition: background-color 0.4s ease-in-out;
}
nav.scrolled{
    background-color: rgb(0, 4, 35);
    opacity: 0.98;
}
nav h1{
    color: white;
    padding: 10px 0 10px 10%;
    font-size: 3rem;
}
nav ul{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    column-gap: 3rem;
    margin-right: 7%;
}
nav ul li:hover{
    cursor: pointer;
}
nav ul li{
    border-radius: 5px;
    list-style-type: none;
    transition: 0.5s;
    
}
nav ul li a{
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s;
}
nav ul li a:hover{
    text-decoration: underline #fff;
}
.bg-video{
    width: 100%;
    height: 60rem;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: 0;
}
.content{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers content */
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.content h1{
    font-family: 'Poppins', sans-serif;
    font-size: 160px;
    font-weight: 600;
    padding: 14px 70px;
    transition: 0.5s;
}
.content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}
.btn{
    width: 15rem;
    height: 4rem;
    border-radius: 50px;  
    border: 1px solid;
    padding: 5px;
    transition: background-color 0.5s, transform 0.8s;
    margin: 0 auto;
    font-size: 20px;
    background-color: transparent;
    color: #fff;
} 
.btn a{
    color: white;
    text-decoration: none;
}
.btn:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.inputPart{
    width: 95%;
    background-color: rgb(12, 51, 124);
    margin: 10px auto; /* Use 'auto' for left and right margins */
    height: 4rem;
    border-radius: 10px;
    align-content: center;
    display: block;
}
form{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
}
input{
    height: 2rem;
    border-radius: 10px;
    border: 3px solid white;
    
}

.bg-color{
    width: 4rem;
}
.search{
    border-radius: 10px;
    width: 7rem;
    height: 2rem;
}
.container {
    display: flex;
    width: 90vw;
    margin: 2rem auto;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.card{
    width: 23%;
    /*set width to 23% if its 4 by 4, 26% if 3 by 3*/
    height: 40rem;
    border: 1px solid white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    overflow: hidden;
    padding-bottom: 10px;
    position: relative;
    transition: 0.5s;
    animation: slide-in 1s;
}
.card img{
    align-self: center;
    margin-top: 10px;
    height: 30rem;
    width: 95%;
    border-radius: 2rem;
    object-fit: cover;
}
.card h1, 
.card p{
    margin: 10px 0; 
    padding: 0 1rem; 
}
.remove-btn{
    cursor: pointer;
    align-items: center;
    width: 7rem;
    height: 3.5rem;
    border: none;
    background-color: #5834fc;
    color: #fffeff;
    font-size: 1rem;
    border-radius: 10px;
    overflow: hidden;
    font-weight: 600;
    transition: .3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    align-self: center; /* Center the button */
    margin-top: auto; /* Push the button to the bottom */
    display: flex; /* Make the button a flex container for the icon and text */
    justify-content: center; /* Center the content inside the button */
}
.trash{
    position: relative;
    width: 1.5rem; /* Width of the trash can */
    height: 2rem; /* Height of the trash can */
    margin-right: 5px;
    margin-top: 20px;
    transition: 0.5s;
}
.top {
    width: 16px;
    height: 3px; 
    background-color: #ffffff; 
    border-top-left-radius: 23.8px;
    border-top-right-radius: 23.8px;
    position: absolute;
    margin-top: -8px;
    margin-left: -1px;
    transition: 0.5s;
}
.bottom{
    border-top: 3.5px solid #FFF;
    border-left: 7.5px solid #FFF;
    border-right: 7.5px solid #FFF;
    border-radius: 2px 2px 5px 5px;
    position: relative;
    transition: transform 0.5s; 
}
.remove-btn:hover .top{
    margin-top: -12px;
    transform: rotate(-20deg);
    translate: -2px;
}
.remove-btn:hover .trash{
    transform: rotate(20deg);
    translate: -5px;
}
@media screen and (max-width: 1237px){
    .container{
        flex-direction: row;
    }
    nav ul{
        column-gap: 10px;
    }
    .card{
        width: 40%;
    }
    .inputPart{
        height: 10rem;
    }
    input{
        width: 50%;
    }
    
} 
@media screen and (max-width: 800px){
    .content h1{
        font-size: 5rem;
    }
    .container{
        flex-direction: row;
    }
    .card{
        width: 70%;
    }
}